<% content_for :title, "Articles" %>


<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="display-4">Articles</h1>
  <% if signed_in? && !params[:just_signed_in] %>
  <%= link_to "Nouvel article", new_article_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>


<div class="row">
  <div class="col-12 mb-3">
    <button id="count-articles" class="btn btn-info" type="button">
      <i class="fas fa-calculator"></i> Compter les articles
    </button>
    <span id="article-count" class="ms-3 badge bg-secondary fs-6"></span>
  </div>
</div>


<div id="articles" class="row">
  <% @articles.each do |article| %>
  <div class="col-md-6 col-lg-4 mb-4 article-card">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= truncate(article.content, length: 50) %></p>
      </div>
      <div class="card-footer bg-transparent">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <small class="text-muted author-info">
            <i class="fas fa-user"></i> Par <%= getUserName(article.user_id) %>
          </small>
        </div>
        <%= link_to "Voir l'article", article, class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  </div>
  <% end %>
</div>