<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h1 class="card-title mb-0"><%= @article.title %></h1>
        <div class="article-author-header mt-2">
          <small class="text-light">
            <i class="fas fa-user"></i> Par <%= getUserName(@article.user_id) %>
          </small>
        </div>
      </div>
      <div class="card-body">
        <div class="article-content">
          <%= simple_format(@article.content) %>
        </div>
      </div>
      <div class="card-footer bg-light">
        <div class="d-flex gap-2 flex-wrap">
          <% if current_user && (current_user.id == @article.user_id ) %>
          <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-warning" %>
          <%= link_to "Back to all articles", articles_path, class: "btn btn-secondary" %>
          <%= button_to "Delete this article", @article, method: :delete, 
                        data: { confirm: "Are you sure you want to delete this article?" },
                        class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Back to all articles", articles_path, class: "btn btn-secondary" %>
          <% end %>

        </div>
      </div>
      <div>
        <h2>Comments</h2>
        <% @article.comments.each do |comment| %>
        <div class="comment">
          <p><strong><%= comment.user.username %>:</strong></p>
          <p><%= comment.content %></p>
          <% if comment.user == current_user %>
          <%= link_to "Edit", edit_article_comment_path(@article, comment), class: "btn btn-warning" %>
          <%= button_to "Delete", article_comment_path(@article, comment), method: :delete, data: { confirm: "Do you still want to delete this comment?" }, class: "btn btn-danger" %>
          <% end %>
        </div>
        <% end %>
        <h3>Add a comment</h3>
        <%= form_with(model: [@article, Comment.new]) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control" %><br>
        </div>
        <div class="form-group">
          <%= f.submit "send", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>